*{
  margin: 10;
  padding: 10;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html {
    background: url(https://cdn.pixabay.com/photo/2021/03/05/09/41/novel-6070812_960_720.jpg) no-repeat center fixed;
    background-size: cover;
    animation: change 90s infinite ease;
  }

#backdrop {
    background-color: ghostwhite;
    opacity: 0.9;
    font-family: 'source sans pro';
    width: 1000px;
    border: 10px solid white;
    border-radius: 20px;
    margin: auto;
    margin-top: 5cm;
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
}  
#game-title {
  font-weight: 500;
  padding: 20px 25px;
}
.tiles input{
  height: 60px;
  width: 55px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
  color: rgb(27, 27, 48);
  font-size: 24px;
  font-weight: 500;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid rgb(44, 56, 221);
}

#gameboard{
  margin: 25px 25px 35px;
}
#gameboard #restart {
  width: 100%;
  cursor: pointer;
  color: ghostwhite;
  padding: 15px;
  font-size: 17px;
  border-radius: 5px;
  background:rgb(10, 10, 17);
  transition: all 0.3s ease;
}
#gameboard #restart:hover{
  background: rgb(87, 1, 1);
 
}
.answer-tiles {
  position: absolute;
  z-index: -100;
  opacity: 0;
}
#details .question {
  font-size: 25px;
}
#details .guessed {
  color: red;
  font-weight: 800;
  font-size: 20px;
}
/* animated background code https://youtu.be/IwEqvjsDVU0 */
@keyframes change{
  0%
  { background-image: url(https://cdn.pixabay.com/photo/2021/03/05/09/41/novel-6070812_960_720.jpg)}
  20%
  { background-image: url(https://cdn.pixabay.com/photo/2015/04/15/16/18/train-station-724090_960_720.jpg)}
  40%
  { background-image: url(https://cdn.pixabay.com/photo/2015/10/06/22/04/harry-potter-975362_960_720.jpg)}
  60%
  { background-image: url(https://cdn.pixabay.com/photo/2020/04/22/15/08/wizard-5078583_960_720.jpg)}
  80%
  { background-image: url(https://cdn.pixabay.com/photo/2017/06/02/23/54/harry-potter-2367608_960_720.jpg)}
  100%
  { background-image: url(https://cdn.pixabay.com/photo/2021/03/05/09/41/novel-6070812_960_720.jpg)}
}

